@charset "UTF-8";

.titleText {
	color: hsla(0,0%,0%,1.00);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 31px;
	line-height: 2em;
	text-align: center;
}

.rinenText {
	color: rgba(0,0,0,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight: bold;
	font-size: 82px;
	line-height: 1.5em;
}
.trPadding {
	padding-top: 20px;
	padding-bottom: 10px;
}

.accessMidashi {
	color: hsla(0,0%,32%,1.00);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.accessText {
	color: hsla(0,0%,47%,1.00);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
}

.companyText {
	font-size: 11px;
}

.clearBoth {
	float: left;
	clear: both;
}

.syakunRead {
	font-size: 40px;
	line-height: 1.5em;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-style: normal;
	color: rgba(0,0,0,1.00);
}

.syakunText1 {
	color: rgba(0,0,0,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-style: normal;
	font-weight: bold;
	font-size: 73px;
	line-height: 1.3em;
}

.syakunText2 {
	color: rgba(0,0,0,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-style: normal;
	font-weight: bold;
	font-size: 73px;
	line-height: 1.3em;
	margin-left: 100px;
}

.syakunTitle {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	border-bottom: 1px solid rgba(117,117,117,1.00);
}

.rinenRead {
	font-size: 40px;
	line-height: 1.5em;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-style: normal;
	color: rgba(0,0,0,1.00);
}

@media (max-width:375px){

.smHide {
	display: none;
}

.companyText {
	font-size: 9px;
}

.accessText {
	color: hsla(0,0%,47%,1.00);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 10px;
}

.accessMidashi {
	color: hsla(0,0%,32%,1.00);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.syakunRead {
	font-size: 23px;
	line-height: 1.5em;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-style: normal;
	color: rgba(0,0,0,1.00);
}

.syakunTitle {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	border-bottom: 1px solid rgba(117,117,117,1.00);
}

.syakunText1 {
	color: rgba(0,0,0,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	line-height: 1.3em;
}

.syakunText2 {
	color: rgba(0,0,0,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	line-height: 1.3em;
	margin-left: 75px;
}

.rinenText {
	color: rgba(0,0,0,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight: bold;
	font-size: 67px;
	line-height: 1.5em;
}

.rinenRead {
	font-size: 22px;
	line-height: 1.5em;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-style: normal;
	color: rgba(0,0,0,1.00);
}
}

@media (min-width:376px){

.pcHide {
	display: none;
}

.companyText {
	font-size: 15px;
}

.accessMidashi {
	color: hsla(0,0%,32%,1.00);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 17px;
	font-weight: bold;
}

.accessText {
	color: hsla(0,0%,47%,1.00);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 15px;
}

}

.ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
 
.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

td, th {
	padding: 5px 30px;
}
