@charset "UTF-8";

.japanese {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.text-white {
	color: #FFFFFF;
}

.sectionSpace {
	margin-top: 30px;
	margin-bottom: 30px;
}
.topH1   {
	color: #525252;
	font-size: 15px;
	margin-top: 10px;
}
.topTelwrap   {
	color: #525252;
	font-size: 15px;
	margin-top: 5px;
	float: right;
	width: 300px;
}

.yuitu {
	color: #FFFFFF;
	font-size: 51px;
	padding: 10px;
	font-weight: bold;
}

.backG-red {
	background-color: #FF0000;
}

.bigTitle {
	font-size: 30px;
}

.oomidashi {
	font-weight: bolder;
	font-size: 50px;
}

.topTelno {
	font-size: 26px;
	line-height: 30px;
	float: right;
}

.smTelwrap {
	display: none;
}

#flow > div > div:nth-child(3){
	display: none;
}

.footerLink.text-white ul li {
	line-height: 1.8em;
}


@media (max-width:320px){
.welcome-content h2 {
	font-size: 24px;
	font-weight: 300;
}

.lead {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
}


.yuitu {
	color: #FFFFFF;
	font-size: 17px;
	padding: 10px;
	font-weight: bold;
}

.voice320 {
	width: 280px;
}

.info-home h3 em {
	color: #006bb7;
	font-size: 32px;
	line-height: 1em;
}

.factoring {
	color: #0077B6;
	font-size: 37px;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
}

.genkin {
	font-size: 32px;
	line-height: 1.5em;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}

.kariire {
	color: #000000;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.paddingSide {
	padding-left: 30px;
	padding-right: 30px;
}


}


@media (max-width:375px){

.yuitu {
	color: #FFFFFF;
	font-size: 16px;
	padding: 10px;
	font-weight: bold;
}

.welcome-content h2 {
	font-size: 25px;
	font-weight: 500;
}

#flow > div > div:nth-child(2){
	display: none;
}

#flow > div > div:nth-child(3){
	display: block;
}

.smTelwrap {
	display: block;
}

#header-main .yamm img {
	margin-top: 3px;
}

.info-home h3 em {
	color: #006bb7;
	font-size: 37px;
	line-height: 2em;
}

.factoring {
	color: #0077B6;
	font-size: 37px;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
}

.genkin {
	font-size: 32px;
	line-height: 1.5em;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}

.kariire {
	color: #000000;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.paddingSide {
	padding-left: 30px;
	padding-right: 30px;
}


}

.footerLink {
	padding: 10px;
	width: 100%;
}

@media (max-width:470px){

.navbar-brand {
	width: 180px;
	padding-top: 5px;
	margin-top: 16px;
	height: auto;
}

.slideCap1 {
	font-size: 10px;
	line-height: 15em;
}

.slideCap2 {
	font-size: 20px;
	line-height: 15em;
}

	#flow > div > div:nth-child(3){
	display: block;
}

.blueText {
}

.info-home h3 em {
	color: #006bb7;
	font-size: 32px;
	line-height: 1em;
}

.factoring {
	color: #0077B6;
	font-size: 37px;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
}

.genkin {
	font-size: 32px;
	line-height: 1.5em;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}

.kariire {
	color: #000000;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.marginSide {
	margin-left: 20px;
	margin-right: 20px;
}

.paddingSide {
	padding-left: 30px;
	padding-right: 30px;
}
}

.slideCap1 {
	font-size: 10px;
	line-height: 15em;
}

.slideCap1 {
	font-size: 10px;
	line-height: 15em;
}

.retina {
}

.kaisetuWrap {
	padding: 30px;
	background-color: #E1E1E1;
	border-radius: 5px;
}

.topTelicon {
	float: right;
	height: 30px;
	width: 30px;
	margin-right: 8px;
}

.smTelwrap {
	height: 34px;
	width: 34px;
	float: right;
	margin-top: 11px;
	margin-right: 10px;
}

#header-main .navbar {
	margin-bottom: 7px;
}

@media (min-width:471px){

.factoring {
	color: #0077B6;
	font-size: 37px;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
}

.genkin {
	font-size: 32px;
	line-height: 1.5em;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}

.kariire {
	color: #000000;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
}

/* ページトップ */
#page-top {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 34px;
	z-index: 1;
}
#page-top a {
	background-color: hsla(0, 100%, 50%, 0.8);
	text-decoration: none;
	color: #fff;
	width: 55px;
	padding: 8px 0;
	text-align: center;
	display: block;
	border-radius: 10px;
	height: auto;
}
#page-top a:hover {
	text-decoration: none;
	background-color: hsla(0, 100%, 50%, 0.8);
}
