@charset "UTF-8";

.japanese {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.text-white {
	color: #FFFFFF;
}

.sectionSpace {
	margin-top: 30px;
	margin-bottom: 30px;
}
.topH1   {
	color: #525252;
	font-size: 15px;
	margin-top: 10px;
}
.topTelwrap   {
	color: #525252;
	font-size: 15px;
	margin-top: 5px;
	float: right;
	width: 300px;
}

.yuitu {
	color: #FFFFFF;
	font-size: 51px;
	padding: 10px;
	font-weight: bold;
}

.backG-red {
	background-color: #FF0000;
}

.bigTitle {
	font-size: 30px;
}

.oomidashi {
	font-weight: bolder;
	font-size: 50px;
}

.topTelno {
	font-size: 26px;
	line-height: 30px;
	float: left;
}

@media (max-width:320px){
.welcome-content h2 {
	font-size: 24px;
	font-weight: 300;
}

.lead {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
}

.yuitu {
	color: #FFFFFF;
	font-size: 17px;
	padding: 10px;
	font-weight: bold;
}

.voice320 {
	width: 280px;
}


}



@media (max-width:375px){

.yuitu {
	color: #FFFFFF;
	font-size: 16px;
	padding: 10px;
	font-weight: bold;
}

.welcome-content h2 {
	font-size: 25px;
	font-weight: 500;
}
}

.footerLink {
	padding: 10px;
	width: 100%;
}

@media (max-width:470px){

.navbar-brand {
	width: 180px;
	padding-top: 5px;
	margin-top: 16px;
	height: auto;
}

.slideCap1 {
	font-size: 10px;
	line-height: 15em;
}

.slideCap2 {
	font-size: 20px;
	line-height: 15em;
}
}

.slideCap1 {
	font-size: 10px;
	line-height: 15em;
}

.slideCap1 {
	font-size: 10px;
	line-height: 15em;
}

.retina {
}

.kaisetuWrap {
	padding: 30px;
	background-color: #E1E1E1;
	border-radius: 5px;
}

.topTelicon {
	float: left;
	height: 30px;
	width: 30px;
	margin-right: 8px;
}

.smTelwrap {
	height: 34px;
	width: 34px;
	float: right;
	margin-top: 13px;
	margin-right: 10px;
}
