@charset "UTF-8";


.japanese {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.text-white {
	color: #FFFFFF;
}

.sectionSpace {
	/* [disabled]margin-top: 30px; */
	margin-bottom: 30px;
}
.topH1   {
	color: #525252;
	font-size: 15px;
	margin-top: 10px;
}
.topTelwrap   {
	color: #525252;
	font-size: 15px;
	margin-top: 5px;
	float: right;
	width: 300px;
}

.yuitu {
	color: #FFFFFF;
	font-size: 51px;
	padding: 10px;
	font-weight: bold;
}

.backG-red {
	background-color: #FF0000;
}

.bigTitle {
	font-size: 30px;
}

.oomidashi {
	font-weight: bolder;
	font-size: 45px;
}

.topTelno {
	font-size: 26px;
	line-height: 30px;
	float: right;
}

.smTelwrap {
	display: none;
}

#flow > div > div:nth-child(3){
	display: none;
}

.footerLink.text-white ul li {
	/* [disabled]line-height: 1.8em; */
}
.topMargin50 {
	margin-top: 50px;
}

.midashiTexteffect {
	text-shadow: 3px 3px 5px #969696;
	color: #3A3A3A;
}

.readTextcolor {
	color: #525252;
}

.toHometext {
	font-size: 31px;
	color: #FFFFFF;
}

.kugiriHr {
	border-top: 3px dotted #969696;
}

.inyouLine {
	font-weight: bolder;
	color: #FF0000;
}

.spaceTop10 {
	margin-top: 10px;
}
.leadXs {
	font-size: 10px;
}

.marginBottomzero {
	margin-bottom: 0px;
}

#qa .container #accordion-alt1 {
	margin-bottom: 0px;
}


@media (max-width:320px){
.welcome-content h2 {
	font-size: 24px;
	font-weight: 300;
}

.lead {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
}


.yuitu {
	color: #FFFFFF;
	font-size: 17px;
	padding: 10px;
	font-weight: bold;
}

.voice320 {
	width: 280px;
}

.info-home h3 em {
	color: #006bb7;
	font-size: 32px;
	line-height: 1em;
}

.factoring {
	color: #0077B6;
	font-size: 37px;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
}

.genkin {
	font-size: 32px;
	line-height: 1.5em;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}

.kariire {
	color: #000000;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.paddingSide {
	padding-left: 30px;
	padding-right: 30px;
}

.br320 {
	display: block;
}
}

@media (max-width:375px) and (min-width:374px){



}


@media (max-width:375px){

.yuitu {
	color: #FFFFFF;
	font-size: 16px;
	padding: 10px;
	font-weight: bold;
}

.welcome-content h2 {
	font-size: 25px;
	font-weight: 500;
}

#flow > div > div:nth-child(2){
	display: none;
}

#flow > div > div:nth-child(3){
	display: block;
}

.smTelwrap {
	display: block;
}

#header-main .yamm img {
	margin-top: 3px;
}

.info-home h3 em {
	color: #006bb7;
	font-size: 37px;
	line-height: 2em;
}

.factoring {
	color: #0077B6;
	font-size: 37px;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
}

.genkin {
	font-size: 32px;
	line-height: 1.5em;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}

.kariire {
	color: #000000;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.paddingSide {
	padding-left: 30px;
	padding-right: 30px;
}

.meritText {
	font-size: 36px;
}

.factoringText {
	font-size: 37px;
}

.flowText {
	font-size: 28px;
}

.criteriaText {
	font-size: 33px;
}

.kaisetuWrap {
	padding: 15px;
	background-color: #E1E1E1;
	border-radius: 5px;
	margin-top: 15px;
}

.topMarginzero {
	margin-top: 0px;
}



}

.footerLink {
	padding: 10px;
	width: 100%;
}

@media (max-width:470px){

.navbar-brand {
	width: 135px;
	padding-top: 5px;
	margin-top: 0px;
	height: auto;
}

.slideCap1 {
	font-size: 10px;
	line-height: 15em;
}

.slideCap2 {
	font-size: 20px;
	line-height: 15em;
}

	#flow > div > div:nth-child(3){
	display: block;
}

.blueText {
}

.info-home h3 em {
	color: #006bb7;
	font-size: 32px;
	line-height: 1em;
}

.factoring {
	color: #0077B6;
	font-size: 37px;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
}

.genkin {
	font-size: 32px;
	line-height: 1.5em;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}

.kariire {
	color: #000000;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.marginSide {
	margin-left: 20px;
	margin-right: 20px;
}

.paddingSide {
	padding-left: 30px;
	padding-right: 30px;
}

.smnon {
	display: none;
}

.leadXs {
	font-size: 10px;
}

.kaisetuWrap .lead.readTextcolor.leadXs {
	font-size: 13px;
}

.kaisetuWrap .lead.readTextcolor {
	font-size: 13px;
}
}

.slideCap1 {
	font-size: 10px;
	line-height: 15em;
}

.slideCap1 {
	font-size: 10px;
	line-height: 15em;
}

.retina {
}

.kaisetuWrap {
	padding: 20px;
	background-color: #E1E1E1;
	border-radius: 5px;
	margin-top: 5px;
}

.topTelicon {
	float: right;
	height: 30px;
	width: 30px;
	margin-right: 8px;
}

.smTelwrap {
	height: 34px;
	width: 34px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

#header-main .navbar {
	margin-bottom: 7px;
}

@media (min-width:471px){

.factoring {
	color: #0077B6;
	font-size: 37px;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
}

.genkin {
	font-size: 32px;
	line-height: 1.5em;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}

.kariire {
	color: #000000;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
}

.pcnon {
	display: none;
}
}

/* ページトップ */
#page-top {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 34px;
	z-index: 1;
}
#page-top a {
	background-color: hsla(0, 100%, 50%, 0.8);
	text-decoration: none;
	color: #fff;
	width: 55px;
	padding: 8px 0;
	text-align: center;
	display: block;
	border-radius: 10px;
	height: auto;
}
#page-top a:hover {
	text-decoration: none;
	background-color: hsla(0, 100%, 50%, 0.8);
}

footer {
	background: white;
}

body > div > footer > div > div > div:nth-child(1) > h4 {
	color: black;
}

body > div > footer > div > div > div:nth-child(2) > h4 {
	color: black;
}

body > div > footer > div > div > div:nth-child(3) > h4 {
	color: black;
}

/*gridのgutter調整*/
.row-0{
    margin-left:0px;
    margin-right:0px;

    }

.row-10{
    margin-left:-5px;
    margin-right:-5px;

    }

.row-20{
    margin-left:-10px;
    margin-right:-10px;

    }

.row-30{
    margin-left:-15px;
    margin-right:-15px;

    }

.row-40{
    margin-left:-20px;
    margin-right:-20px;

    }

.inyouRed {
	/* [disabled]padding: 10px 20px; */
	font-size: 40px;
	border-left: 5px solid #FF0000;
	margin-right: 5px;
}

@media (min-width:321px) and (max-width:375px){

.br375 {
	display: block;
}
}
