@charset "UTF-8";

.kankaku {
	padding-top: 16px;
	padding-bottom: 16px;
	margin-bottom: 5px;
}

.col-lg-4 .btn.btn-primary.btn-block.kankaku a {
	color: #FFFFFF;
	font-size: 19px;
}

.inyouRed {
	/* [disabled]padding: 10px 20px; */
	font-size: 40px;
	border-left: 5px solid #FF0000;
	margin-right: 5px;
}

.midashiTexteffect {
	text-shadow: 3px 3px 5px #969696;
	color: #3A3A3A;
}
