@charset "UTF-8";

.inyouRed {
	/* [disabled]padding: 10px 20px; */
	font-size: 40px;
	border-left: 5px solid #FF0000;
	margin-right: 5px;
}

.midashiTexteffect {
	text-shadow: 3px 3px 5px #969696;
	color: #3A3A3A;
}
