@charset "UTF-8";

.serviceTitle {
	color: rgba(91,91,91,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 2em;
}

.serviceRead {
	color: rgba(91,91,91,1.00);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 13px;
	line-height: 1.7em;
}

@media (max-width:320px){

.serviceTitle {
	color: rgba(91,91,91,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 2em;
}

.serviceRead {
	color: rgba(91,91,91,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 12px;
	line-height: 1.7em;
}
}

@media (min-width:321px) and (max-width:375px){

.serviceRead {
	color: rgba(91,91,91,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 12px;
	line-height: 1.7em;
}

.serviceTitle {
	color: rgba(91,91,91,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 2em;
}
}

@media (min-width:376px) and (max-width:414px){

.serviceTitle {
	color: rgba(91,91,91,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 2em;
}

.serviceRead {
	color: rgba(91,91,91,1.00);
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 12px;
	line-height: 1.7em;
}
}
