a {
  color: #8ec641;
}
a:hover {
  color: #8ec641;
}
#header-main .yamm-fw .dropdown-menu li a:hover {
  color: #8ec641 !important;
}
#header-main .navbar-nav > li > a:hover {
  color: #8ec641 !important;
}
#header-main .dropdown-menu {
  border-top-color: #8ec641 !important;
}
#header-main .yamm h3 i {
  color: #8ec641;
}
.ss2-content i {
  color: #8ec641;
}
.button.one {
  background: #8ec641;
}
.small-sep {
  background: #8ec641;
}
.progress-line {
  background-color: #8ec641;
}
.page_header h3 span {
  background: #8ec641;
}
#accordion.panel-group .panel.active .panel-title a span {
  background: #8ec641;
}
.feature-box .feature-box-icon {
  color: #8ec641;
}
.feature-box2 .feature-box-icon {
  background: #8ec641;
}
.plan-price {
  background: #8ec641;
  background: -moz-linear-gradient(-45deg, #8ec641 0%, #8ec641 85%, #7aad36 86%, #7aad36 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #8ec641), color-stop(85%, #8ec641), color-stop(86%, #7aad36), color-stop(100%, #7aad36));
  background: -webkit-linear-gradient(-45deg, #8ec641 0%, #8ec641 85%, #7aad36 86%, #7aad36 100%);
  background: -o-linear-gradient(-45deg, #8ec641 0%, #8ec641 85%, #7aad36 86%, #7aad36 100%);
  background: -ms-linear-gradient(-45deg, #8ec641 0%, #8ec641 85%, #7aad36 86%, #7aad36 100%);
  background: linear-gradient(135deg, #8ec641 0%, #8ec641 85%, #7aad36 86%, #7aad36 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@skinColor', endColorstr='#7aad36', GradientType=1);
}
.pricing-table-s1 li i {
  color: #8ec641;
}
.pricing-table2 thead tr th {
  background: #8ec641;
  background: -moz-linear-gradient(-45deg, #8ec641 0%, #8ec641 85%, #7aad36 86%, #7aad36 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #8ec641), color-stop(85%, #8ec641), color-stop(86%, #7aad36), color-stop(100%, #7aad36));
  background: -webkit-linear-gradient(-45deg, #8ec641 0%, #8ec641 85%, #7aad36 86%, #7aad36 100%);
  background: -o-linear-gradient(-45deg, #8ec641 0%, #8ec641 85%, #7aad36 86%, #7aad36 100%);
  background: -ms-linear-gradient(-45deg, #8ec641 0%, #8ec641 85%, #7aad36 86%, #7aad36 100%);
  background: linear-gradient(135deg, #8ec641 0%, #8ec641 85%, #7aad36 86%, #7aad36 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@skinColor', endColorstr='#7aad36', GradientType=1);
}
.pricing-table3 ul li h3 {
  background: #8ec641;
}
.search-container button {
  background: #8ec641;
}
.cat-list li a:hover {
  color: #8ec641;
}
.popular-desc h5 a:hover {
  color: #8ec641;
}
.tag-list a:hover {
  background: #8ec641;
}
.nav-tabs li a span {
  color: #8ec641;
}
.nav-tabs li i {
  color: #8ec641;
}
.stats1-info i {
  color: #8ec641;
}
.stats2-info h2 {
  color: #8ec641;
}
.stats3-info i {
  color: #8ec641;
}
.service-content span {
  color: #8ec641;
}
.service-content span:after {
  background: #8ec641;
}
.service-content:hover span {
  background: #8ec641;
}
.service-content:hover span:after {
  background: #8ec641;
}
.feature-content i {
  background: #8ec641;
  background: -moz-linear-gradient(-45deg, #8ec641 0%, #8ec641 49%, #7aad36 50%, #7aad36 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #8ec641), color-stop(85%, #8ec641), color-stop(86%, #7aad36), color-stop(100%, #7aad36));
  background: -webkit-linear-gradient(-45deg, #8ec641 0%, #8ec641 49%, #7aad36 50%, #7aad36 100%);
  background: -o-linear-gradient(-45deg, #8ec641 0%, #8ec641 49%, #7aad36 50%, #7aad36 100%);
  background: -ms-linear-gradient(-45deg, #8ec641 0%, #8ec641 49%, #7aad36 50%, #7aad36 100%);
  background: linear-gradient(135deg, #8ec641 0%, #8ec641 49%, #7aad36 50%, #7aad36 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@skinColor', endColorstr='#7aad36', GradientType=1);
}
h2.post-title a:hover {
  color: #8ec641;
}
h2.post-title-small a:hover {
  color: #8ec641;
}
.post-meta span {
  color: #8ec641;
}
.post-meta span a {
  color: #8ec641;
}
.page_nav a:hover {
  background: #8ec641;
}
.info-home h3 em {
  color: #8ec641;
}
.hover-zoom a:hover {
  background: #8ec641;
}
.features-left i {
  color: #8ec641;
}
.features-right i {
  color: #8ec641;
}
.team-social li a:hover {
  color: #8ec641 !important;
}
.f-posts li h5 a:hover {
  color: #8ec641;
}
.reply:hover {
  color: #8ec641 !important;
  border: 2px solid #8ec641;
}
#portfolio-home.folio-boxed-2col .project-info h2:hover,
#portfolio-home.folio-boxed-3col .project-info h2:hover,
#portfolio-home.folio-boxed-4col .project-info h2:hover {
  color: #8ec641;
}
#accordion-career .panel-default > .panel-heading {
  border-left: 1px solid #8ec641;
}
.feature-list li i {
  color: #8ec641;
}
.countdown.styled div span {
  background: #8ec641;
}
.list-style1 li i {
  color: #8ec641;
}
.product-post-info h5 a:hover {
  color: #8ec641;
}
.product-size a.active,
.product-size a:hover {
  color: #8ec641;
  border: 1px solid #8ec641;
}
.cart-table tbody tr td a:hover {
  color: #8ec641;
}
.higlight {
  color: #8ec641;
}
#about-section2 .about-box .about-post a:hover,
#about-section2 .about-box .about-post a.active {
  background: #8ec641;
}
#about-section2 .content-tab .tab-cont h2 {
  color: #8ec641;
}
.date-meta {
  background: #8ec641;
}
#team2 .text-center .team-social a:hover {
  color: #8ec641;
}
.highlight {
  color: #8ec641 !important;
}
.sc-trigger span {
  background: #8ec641;
}
.cart-info {
  border-top: 4px solid #8ec641;
}
.ci-item-info h5 a:hover {
  color: #8ec641;
}
.cart-btn a {
  background: #8ec641;
}
.ssc-inner form input {
  border-bottom: 4px solid #8ec641;
}
.rating > span {
  color: #8ec641;
}
.rating  > span:hover:before,
.rating  > span:hover ~ span:before {
  color: #8ec641;
}
.rating2 > span {
  color: #8ec641;
}
.pricing-table4 .title strong {
  color: #8ec641;
}
.navbar-nav > li > a:hover {
  color: #8ec641 !important;
}
.button.color2 {
  background: #8ec641;
}
#popular.pricing-table4 h6 {
  background: #8ec641;
}
.button.btn-border.color2:hover {
  background: #8ec641 !important;
}
.progress-bar-success {
  background: #8ec641 !important;
}
.nav-tabs li.active::after {
  background: #8ec641;
}
#accordion-e3 .panel-title span.icon-check2 {
  color: #8ec641;
}
.style1 {
  border-left: 5px solid #8ec641;
}
.style1.blockquote-reverse {
  border-right: 5px solid #8ec641;
}
.pricing-table4 .title strong {
  color: #8ec641;
}
.pricing-table4#popular h6 {
  background: #8ec641;
}
.cs-wrap .chart-color2 span {
  color: #8ec641;
}
.progress-bar-success {
  background: #8ec641 !important;
}
.product-categories li a:hover {
  color: #8ec641;
}
.button.one {
  background: #8ec641;
}
.small-sep {
  background: #8ec641;
}
.progress-line {
  background-color: #8ec641;
}
.page_header h3 span {
  background: #8ec641;
}
#accordion.panel-group .panel.active .panel-title a span {
  background: #8ec641;
}
.feature-box .feature-box-icon {
  color: #8ec641;
}
.feature-box2 .feature-box-icon {
  background: #8ec641;
}
#header-main .dropdown-menu,
#header-main .yamm .dropdown.yamm-fw .dropdown-menu {
  border-top-color: #8ec641 !important;
}
#header-main .navbar-nav > li > a:hover .arrow-up,
#header-main .navbar-nav > li > a:hover,
#header-main .navbar-nav > li > a:focus,
#header-main .navbar-nav > li > a:active,
#header-main .navbar-default .navbar-nav > .open > a,
#header-main .navbar-default .navbar-nav > .open > a:hover,
#header-main .navbar-default .navbar-nav > .open > a:focus {
  color: #8ec641 !important;
}
