
/* ------------- General ------------- */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@font-face {
	font-family: "cs-ctrl-basic";
	src: url("cs-ctrl-basic.eot");
	src: url("cs-ctrl-basic.eot#iefix") format("embedded-opentype"),
			url("cs-ctrl-basic.woff") format("woff"),
			url("cs-ctrl-basic.ttf") format("truetype"),
			url("cs-ctrl-basic.svg#basic") format("svg");
	font-weight: normal;
	font-style: normal;
}

.csslider1 {
  display: inline-block;
  position: relative;
  
  height: 400px;
  

  width: 100%;
}
.csslider1,
.csslider1 *,
.csslider1 *:after,
.csslider1 *:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider1 > .cs_anchor {
  display: none;
}
.csslider1 > ul {
  position: relative;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  height: 400px;
  overflow: hidden;
  white-space: nowrap;
}
.csslider1 > ul > .cs_skeleton {
  width: 100%;
  visibility: hidden;
  font-size: 0px;
  line-height: 0;
}

.csslider1 > ul > .slide.img img {
  width: 100%;
}



.csslider1 > ul > .slide.img a {
  font-size: 0pt;
  color: transparent;
}
.csslider1 > ul > .slide {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  white-space: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.csslider1 .cs_engine{
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0pt;
  opacity: 0;
  filter: alpha(opacity=0);
}

.csslider1 > ul > li.img,
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_bullets,
.csslider1 > .cs_play_pause {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ------------- /General Styles ------------- */

/* ------------- General Bullets ------------- */
.csslider1 > .cs_bullets {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 6;
  font-size: 0;
  line-height: 8pt;
  text-align: center;
}
.csslider1 > .cs_bullets > div {
  margin-left: -50%;
  width: 100%;
}
.csslider1 > .cs_bullets > label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.csslider1 > .cs_bullets > label > .cs_thumb {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 1;
  line-height: 0;
  left: -70px;
  top: -48px;
}
.csslider1 > .cs_bullets > label > .cs_thumb > img {
  max-width: none;
}
/* ------------- /General Bullets ------------- */

/* ------------- Effect ------------- */

.csslider1 > #cs_slide1_0:checked ~ ul > .slide.num0,
.csslider1 > #cs_pause1_0:checked ~ ul > .slide.num0,
.csslider1 > #cs_slide1_1:checked ~ ul > .slide.num1,
.csslider1 > #cs_pause1_1:checked ~ ul > .slide.num1,
.csslider1 > #cs_slide1_2:checked ~ ul > .slide.num2,
.csslider1 > #cs_pause1_2:checked ~ ul > .slide.num2,
.csslider1 > #cs_slide1_3:checked ~ ul > .slide.num3,
.csslider1 > #cs_pause1_3:checked ~ ul > .slide.num3 {
  opacity: 1;
  z-index: 2;
}

.csslider1 > ul > .slide {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  
  -webkit-transition: opacity 2000ms ease;
  transition: opacity 2000ms ease;

  
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}


@-webkit-keyframes fade1 {
  0%, 31.25%, 100%  { opacity: 0; }
  6.25%, 25%  { opacity: 1; }
  0%, 24.999%  { z-index: 2; }
  25.001%, 100%  { z-index: 1; }
}
@keyframes fade1 {
  0%, 31.25%, 100%  { opacity: 0; }
  6.25%, 25%  { opacity: 1; }
  0%, 24.999%  { z-index: 2; }
  25.001%, 100%  { z-index: 1; }
}

.csslider1 > #cs_play1:checked ~ ul > .slide.num0 {
  -webkit-animation: fade1 32000ms infinite -2000ms;
  animation: fade1 32000ms infinite -2000ms;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num1 {
  -webkit-animation: fade1 32000ms infinite 6000ms;
  animation: fade1 32000ms infinite 6000ms;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num2 {
  -webkit-animation: fade1 32000ms infinite 14000ms;
  animation: fade1 32000ms infinite 14000ms;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num3 {
  -webkit-animation: fade1 32000ms infinite 22000ms;
  animation: fade1 32000ms infinite 22000ms;
}



.csslider1 > #cs_play1:checked ~ ul > .slide,
.csslider1 > .pause:checked ~ ul > .slide {
  -webkit-transition: none;
  transition: none;
}


/* ------------- /Effect ------------- */

/* ------------- Template Bullets ------------- */
.csslider1 > .cs_bullets {
  bottom: 5px;
  margin-bottom: 5px;
}
.csslider1 > .cs_bullets > label {
  border-radius: 50%;
  margin: 0 5px;
  padding: 9px;
  background: #CBECFD;
}


.csslider1 > .cs_bullets > label > .cs_thumb {
  border: 3px solid #CBECFD;
  margin-top: -150%;
  margin-left: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.csslider1 > .cs_bullets > label > .cs_thumb:before {
  content: '';
  position: absolute;
  width: 0; 
  height: 0; 
  left: 50%;
  margin-left: -4px;
  bottom: -9px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  
  border-top: 7px solid #CBECFD;
}
.csslider1 > .cs_bullets > label:hover > .cs_thumb {
  margin-top: -12px;
  opacity: 1;
  visibility: visible;
}



.csslider1 > .cs_bullets > label > .cs_point {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2px;
  margin-top: -2px;
  background: transparent;
  border-radius: 50%;
  padding: 2px;
}

.csslider1 > .cs_bullets > label:hover > .cs_point,

.csslider1 > #cs_slide1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_pause1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_slide1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_pause1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_slide1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_pause1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_slide1_3:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_pause1_3:checked ~ .cs_bullets > label.num3 > .cs_point {
  background: #3A4A5A;
}




@keyframes bullet1 {
  0%, 24.99%  { background: #3A4A5A; }
  25%, 100% { background: transparent; }
}
@-webkit-keyframes bullet1 {
  0%, 24.99%  { background: #3A4A5A; }
  25%, 100% { background: transparent; }
}

.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num0 > .cs_point {
  -webkit-animation: bullet1 32000ms infinite -2000ms;
  animation: bullet1 32000ms infinite -2000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num1 > .cs_point {
  -webkit-animation: bullet1 32000ms infinite 6000ms;
  animation: bullet1 32000ms infinite 6000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num2 > .cs_point {
  -webkit-animation: bullet1 32000ms infinite 14000ms;
  animation: bullet1 32000ms infinite 14000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num3 > .cs_point {
  -webkit-animation: bullet1 32000ms infinite 22000ms;
  animation: bullet1 32000ms infinite 22000ms;
}



.csslider1 > #cs_play1:checked ~ .cs_bullets > label > .cs_point,
.csslider1 > .pause:checked ~ .cs_bullets > label > .cs_point {
  -webkit-transition: none;
  transition: none;
}


.csslider1 > .slide:checked ~ .cs_bullets > label > .cs_point,
.csslider1 > .pause:checked ~ .cs_bullets > label > .cs_point {
  -webkit-animation: none;
  animation: none;
}


/* ------------- Template /Bullets ------------- */
/* hide description & bullets on mobile devices */
@media
only screen and (max-width: 480px),
only screen and (-webkit-max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (   max--moz-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (     -o-max-device-pixel-ratio: 2/1)    and (max-width: 480px),
only screen and (        max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (                max-resolution: 192dpi) and (max-width: 480px),
only screen and (                max-resolution: 2dppx)  and (max-width: 480px) { 
  .csslider1 > .cs_description,
  .csslider1 > .cs_bullets {
    display: none;
  }
}

@media only screen and (max-width: 1170px) {
  .csslider1,
  .csslider1 > ul {
    height: auto;
  }
}
